:root {
  --darkestBlue: #2655FB;
  --darkerBlue: #436BF2;
  --border-radius: 19px 0px;
  --map-block-heigth: 520px;
  --map-heigth: 390px;
}


#mapid {
  width: 386px;
  height: var(--map-heigth);
  border-radius: var(--border-radius);
  background-color: #eed;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: co-text;
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

body.u-active {
  background: #f3f7f9;
}

.o-container {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* height: 100vh; */
  /* width: 100vw; */
  padding-left: 312px;
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  flex-basis: 100%;
}

.u-1-of-2 {
  flex-basis: calc(100%/2);
}

.u-1-of-3 {
  flex-basis: calc(100%/3);
}

.u-2-of-5 {
  flex-basis: calc((100%/5)*2);
}

.u-3-of-5 {
  flex-basis: calc((100%/5)*3);
}

.u-1-of-4 {
  flex-basis: calc(100%/4);
}

.u-5-of-6 {
  flex-basis: calc((100%/5)*4);
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
  margin: 0 -12px;
}

.o-layout--gutter>.o-layout__item {
  padding: 0 12px;
}

.o-layout--gutter-sm {
  margin: 0 -6px;
}

.o-layout--gutter-sm>.o-layout__item {
  padding: 0 6px;
}

.o-layout--gutter-lg {
  margin: 0 -24px;
}

.o-layout--gutter-lg>.o-layout__item {
  padding: 0 24px;
}

.o-layout--gutter-xl {
  margin: 0 -48px;
}

.o-layout--gutter-xl>.o-layout__item {
  padding: 0 48px;
}

/* column/row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

.o-layout--row {
  flex-direction: row;
}

.o-layout--column {
  flex-direction: column;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  margin: auto;
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is more than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*object navigatie */
.o-nav {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  background: var(--darkerBlue);
  height: 100vh;
  width: 240px;
  position: fixed;
  border-top-right-radius: 19px;
}

/* object content */
.o-dashboard {
  /* flex-basis: calc(100%/2); */
  margin-top: 114px;
  width: 482px;
  height: 522px;
  justify-content: start;
  align-content: start;
}

.o-map {
  justify-content: center;
  flex-basis: calc((100%/2));

  /* width: 6000px; */
}

.o-footer {
  flex-basis: 100%;
  padding-left: 256px;
}

@media (min-width: 1400px) {
  .o-dashboard {
    /* flex-basis: 50%; */
    /* margin-left: 0px; */
  }

  .o-map {
    justify-content: start;
    /* flex-basis: calc((100%/3)*1); */
  }
}

@media (min-width: 1660px) {
  .o-dashboard {
    /* flex-basis: calc((100%/3)*1); */
  }

  .o-map {
    justify-content: start;
    /* flex-basis: calc(100%/2) */
  }
}

/* components */
.c-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-waarde_holder {
  margin: auto;
  margin-top: 24px;
  margin-bottom: 8px;
  background-color: #38434a;
  color: white;
  font-family: co-text;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  border-radius: 0 19px;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 14px;
  width: 134px;
  height: 32px;
}

.c-button-dog {
  margin-top: 16px;
  margin-bottom: 0px;
  cursor: pointer;
  background-color: var;
}

.c-info_block {
  margin: 32px 32px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  background: #DDE;
  padding: 16px;
  height: 213px;
  width: 193px;
  border-radius: 19px 0;
}

.c-info_block-map {
  margin: 72px 0px;
  margin-left: 240px;
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
  background: #DDE;
  padding: 16px;
  border-radius: var(--border-radius);
  width: 450px;
  height: 490px;
  /* background-color: blue; */
}

.c-big_block {
  /* flex-basis: calc((100%/3)*2); */
  justify-content: start;
  width: 988px;
  height: 481px;
  background-color: #DDE;
  border-radius: var(--border-radius);
  padding: 24px;
  margin-top: 72px;
}

.c-graph-background {
  margin: auto;
  /* margin-top: 103px; */
  background-color: white;
  width: 908px;
  height: 370px;
  border-radius: 0 19px;
}

.c-color-background {
  background-color: white;
  margin: auto;
  /* margin-top: 103px; */
  background-color: white;
  width: 422px;
  height: 417px;
  border-radius: 0 19px;
}







.c-room__name {
  font-size: 1.25em;
  font-weight: 100;
  text-align: center;
  margin-bottom: 12px;
  color: #38434a;
}

.c-title {
  margin: 0;
  font-family: co-headline;
  font-size: 40px;
  font-weight: 300;
  text-align: left;
  color: white;
  background-color: var(--darkestBlue);
  padding: 32px;
  padding-left: 32px;
  width: 200px;
  padding-right: 8px;
  border-radius: 0 19px;
}

.c-button {
  justify-content: center;
  text-align: left;
  text-decoration: none;
  line-height: 65px;
  height: 65px;
  letter-spacing: 0.2px;
  font-size: 16px;
  width: 192px;
  color: white;
  margin-left: 16px;
  padding-left: 16px;
  border-radius: 0 19px;
  transition: all 0.3s;
}

.c-button-top {
  margin-top: 32px;
}

.c-shutdown-button {
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 16px;
}

.c-power-text {
  padding-left: 8px;
}

.c-button:hover {
  background-color: #fff;
  color: #2655FB;
}


.c-button:hover svg .c-power-icon:last-child {
  fill: #2655FB;
}


@media (min-width: 400px) {
  .c-button {
    font-size: 24px;
  }
}

@media (min-width: 720px) {
  .c-button {
    font-size: 28px;
  }
}

@media (min-width: 1400px) {

  .c-info_block-map {
    margin: 114px 72px;
    margin-bottom: 0;
  }

  .c-info_block {
    margin: 32px 32px;
    margin-left: 0px;
    margin-bottom: 0;
  }
}

@media (min-width: 1660px) {
  .c-info_block-map {
    margin: 114px 72px;
    margin-bottom: 0;
  }

  .c-info_block {
    margin: 32px 32px;
    margin-left: 0px;
    margin-bottom: 0;
  }
}

/* clear ... */
.c-mt-clear {
  margin-top: 0;
}

.c-mr-clear {
  margin-right: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 16px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  width: 250px;
  background-repeat: no-repeat;
  border-radius: 5px 0;
  margin: auto;
}

/*  */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 32px;
  width: 12px;
  border-radius: 5px 0;
  background: #dde;
  /* cursor: ew-resize; */
  box-shadow: 0 0 2px 0 #555;
  /* transition: background .3s ease-in-out; */
}

/*  */