:root {
  --darkestBlue: #2655FB;
  --darkerBlue: #4771FF;
  --border-radius: 19px 0px;
  --map-block-heigth: 520px;
  --map-heigth: 390px;
}


#mapid {
  width: 40vh;
  height: var(--map-heigth);
  border-radius: var(--border-radius);
  background-color: #eed;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: co-text;
}

body {
  background: #fff;
}

body.u-active {
  background: #f3f7f9;
}

.o-container {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
  width: 100vw;
}


/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  flex-basis: 100%;
}

.u-1-of-2 {
  flex-basis: calc(100%/2);
}

.u-1-of-3 {
  flex-basis: calc(100%/3);
}

.u-2-of-5 {
  flex-basis: calc((100%/5)*2);
}

.u-3-of-5 {
  flex-basis: calc((100%/5)*3);
}

.u-1-of-4 {
  flex-basis: calc(100%/4);
}

.u-5-of-6 {
  flex-basis: calc((100%/5)*4);
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
  margin: 0 -12px;
}

.o-layout--gutter>.o-layout__item {
  padding: 0 12px;
}

.o-layout--gutter-sm {
  margin: 0 -6px;
}

.o-layout--gutter-sm>.o-layout__item {
  padding: 0 6px;
}

.o-layout--gutter-lg {
  margin: 0 -24px;
}

.o-layout--gutter-lg>.o-layout__item {
  padding: 0 24px;
}

.o-layout--gutter-xl {
  margin: 0 -48px;
}

.o-layout--gutter-xl>.o-layout__item {
  padding: 0 48px;
}

/* column/row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

.o-layout--row {
  flex-direction: row;
}

.o-layout--column {
  flex-direction: column;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is more than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*object navigatie */
.o-nav {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  background: var(--darkerBlue);
  height: 100vh;
  width: 240px;
  position: fixed;
  border-top-right-radius: 19px;
}

/* object content */
.o-dashboard {
  flex-basis: calc(100%/2);
  justify-content: center;
}

.o-map {
  justify-content: center;
  flex-basis: calc((100%/2));

  /* width: 6000px; */
}

@media (min-width: 1400px) {
  .o-dashboard {
    flex-basis: calc((100%/2)*1);
    margin-left: 0px;
  }

  .o-map {
    justify-content: center;
    flex-basis: calc((100%/3)*2);
  }
}

@media (min-width: 1660px) {
  .o-dashboard {
    flex-basis: calc((100%/3)*1);
  }

  .o-map {
    justify-content: start;
    flex-basis: calc(100%/2)
  }
}

/* components */

.c-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-waarde_holder {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 8px;
  background-color: #38434a;
  color: white;
  font-family: co-text;
  font-style: normal;
  font-weight: 800;
  font-size: 1.9em;
  height: 48px;
  letter-spacing: 0.2px;
  line-height: 48px;
  text-align: center;
  width: 150px;
  border-radius: 0 19px;
  padding: 8px;
}

.c-button-dog {
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  /* background-color: var; */
}

.c-info_block {
  margin: 32px 8px;
  flex-basis: calc((100%/6)*2);
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  background: #DDE;
  padding: 1em;
  height: 225px;
  border-radius: 19px 0;
}

.c-info_block-map {
  /* width: 487px; */
  margin: 32px 0px;
  margin-left: 240px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  background: #DDE;
  padding: 1em;
  height: 516px;
  border-radius: var(--border-radius);
  /* background-color: blue; */
}

.c-content-row-one {
  padding-left: 240px;
}

.c-room__name {
  font-size: 1.25em;
  font-weight: 100;
  text-align: center;
  margin-bottom: 12px;
  color: #38434a;
}

.c-title {
  margin: 0;
  font-family: co-headline;
  font-size: 2.5em;
  font-weight: 300;
  text-align: left;
  color: white;
  background-color: var(--darkestBlue);
  padding: 32px;
  padding-left: 32px;
  width: 200px;
  padding-right: 8px;
  border-radius: 0 19px;
}

.c-button {
  justify-content: center;
  text-align: left;
  text-decoration: none;
  line-height: 65px;
  height: 65px;
  letter-spacing: 0.2px;
  font-size: 16px;
  width: 192px;
  color: white;
  margin-left: 16px;
  padding-left: 16px;
  border-radius: 0 19px;
  transition: all 0.3s;
}

.c-button-top {
  margin-top: 2vh;
}

.c-button:hover {
  background-color: #fff;
  color: #2655FB;
}


@media (min-width: 400px) {
  .c-button {
    font-size: 24px;
  }
}

@media (min-width: 720px) {
  .c-button {
    font-size: 28px;
  }
}

@media (min-width: 1400px) {
  .c-info_block-map {
    margin: 32px;
  }

  .c-info_block {
    margin: 32px 16px;
    margin-bottom: 0;
  }
}

@media (min-width: 1660px) {
  .c-info_block-map {
    margin: 32px 16px;
    margin-bottom: 0;
  }

  .c-info_block {
    margin: 32px 16px;
    margin-bottom: 0;
  }
}